@media screen and (min-width: 1120px){
#hero-image{
	min-height: 600px;
	p{
		font-size:4.5rem
	}
}
.Imac-and-yellow p{
	
	
	top:230px;
}
.site-footer{
	.footer-logo{
		img{
			width:150px;
			margin-top:15px;
		}
	}
}

}