@media screen and (min-width: 639px){
/*Menu plugin*/


#responsive-menu-button {
  margin-top: 20px;
  height:55px;
}





#page {
  
	/**About Page styles**/

	.about-page-col1{
		width:35%;
		display:inline-block;
		 
	}
	.about-page-col2{
		width:61%;
		display:inline-block;

	}


}
.site-footer{
	.footer-logo{
		img{
			margin-top:-15px;
		}
	}
}
}