@media screen and (min-width: 707px){

/*******************POSTS ONLY************************/
.posts-col1{
	
	
}

/*******************END POSTS STYLES*****************/


#hero-image{
	min-height: 300px;
	p{
		font-size:2.5rem;
	}
}
/*Menu plugin*/


#responsive-menu-button {
  margin-top: 25px;

}

/*end plugin*/

#menu-toggle {
  display: none;
}

#page {
  


.site-content{
	max-width:1966px;
	margin:0 auto;
}
.Imac-and-yellow{
	min-height:436px;
}
.Imac-and-yellow p{
	top:140px;
}



/**About Page styles**/
.site-header-main{
	background-color:rgba(0,0,0,0.8);
}
.about-page-col1{
	width:35%;
	display:inline-block;
	 
}
.about-page-col2{
	width:61%;
	display:inline-block;

}
}
.site-footer{
	background-color: transparent;
	.footer-container{
		background-color: transparent;
	}
	a{
		font-size:2.0rem;
	}

.footer-nav{
	li{
	line-height:1.75;
	}
}
}
}