@media screen and (min-width: 707px){


.Imac-and-yellow{
	min-height:436px;
}
.Imac-and-yellow p{
	top:140px;
}



/**About Page styles**/

.about-page-col1{
	width:35%;
	display:inline-block;
	 
}
.about-page-col2{
	width:61%;
	display:inline-block;

}
}