@media screen and (min-width: 910px){

.home-header{
	position: relative;
	top:20px;
	h1{
		font-size: 20px;
	}
	h4{
		display: block;
		text-align: right;
		margin-top:-10px;
		font-size:24px;

	}
}

.Imac-and-yellow{
	height:636px;
	
}
.Imac-and-yellow p{
	top:140px;
}

#pitch-text{

	font-size:43px;


}
.firstWords{
	font-size:40px;
}
.main-about-container p{
	font-size: 24px;
}

#final-pitch{

	font-size:30px;


}
}