@media screen and (min-width: 910px){
#hero-image{
	min-height: 500px;
	p{
		font-size:3.5rem
	}
}
.home-header{
	position: relative;
	top:20px;
	h1{
		font-size: 20px;
	}
	h4{
		display: block;
		text-align: right;
		margin-top:0px;
		font-size:24px;

	}
}
.site-header-main{
	padding:0 5% 10px 5%;
}


.Imac-and-yellow{
	height:636px;
	
}
.Imac-and-yellow p{
	top:140px;
}

#pitch-text{

	font-size:43px;


}
.firstWords{
	font-size:40px;
}
.main-about-container p{
	font-size: 24px;
	opacity:0;
}

#final-pitch{
	opacity: 1.0;
	font-size:30px;


}
.footer-container{
		padding-top:5%;
}

}