
@media screen and (min-width: 992px){
.Imac-and-yellow{

}
.Imac-and-yellow p{
	
	font-size:36px;
	top:180px;
}


/*Site Footer*/
.site-footer{
	
	
}
.site-footer h2{
	font-size:54px;
}
.site-footer h3{
	font-size: 28px;
	
	



}
.social-links{
	
	font-size:20px;
	img{
		max-width:50px;
	}
}

}/*end media query*/