
@media screen and (min-width: 992px){



#services p{
	font-size:1.4em;
}
/*Site Footer*/
.site-footer{
	.footer-container{
		padding-top:5%;
		padding-bottom:2%;
	}
	.footer-logo{
	
	width:70%;
	
	text-align: right;
	img{
		
		margin-top:-25px;

	}
}
.site-footer h2{
	font-size:54px;
}
.site-footer h3{
	font-size: 28px;
	
	



}
.social-links{
	
	font-size:20px;
	img{
		max-width:50px;
	}
}
}
}/*end media query*/